*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    #browse-events-page{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f7f7f7;
        
    }
    #browse-events-page .small-icon{
        margin: 0;
    }
    #browse-events-page .events-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;

    }
    #browse-events-page .event-body{
        width: 95%;
        height: 300px;
        display: flex;
        flex-direction: column;
        position: relative;
        color: white;
        text-decoration: none;
    }
    #browse-events-page .event-body-image{
        width: 100%;
        height: 200px;
    }
    #browse-events-page .event-body .event-date{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #browse-events-page .event-body .event-date .event-month{
        font-weight: bold;
    }
    #browse-events-page .event-body .event-date .event-day{
        font-weight: 500;
    }
    #browse-events-page .event-body .event-body-bookmark-container{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
    }
    #browse-events-page .event-body .event-body-bookmark-container img{
        width: 60%;
        height: 60%;
    }
    #browse-events-page .event-body .event-info{
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: black;
        height: 100px;

    }
    #browse-events-page .event-body .event-info div{
        width: 100%;
        display: flex;
        gap: 5px;
        align-items: center;
    }
    #browse-events-page .event-body .event-info button,
    #browse-events-page .event-body .event-info a{
        width: 100px;
        height: 40px;
        background-color: #f2b63e;
        border: 1px solid rgba(211, 211, 211, 0.3);
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
    }

    @media (min-width: 769px) {

        #browse-events-page .events-container{
            width: 80% !important;
            margin-top: 50px;
            flex-direction: row !important;
            flex-wrap: wrap;
        }
        #browse-events-page .top-event-body{
            max-width: 400px;
        }

    }