*{
    margin: 0;
    padding: 0;
}



    #browse-events-page{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f7f7f7;
        
    }
    #browse-events-page .events-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;

    }
    .top-event-body{
        width: 100%;
        height: 75px;
        display: flex;
        text-decoration: none;
        color: black;
        background-color: white;
    }
    #browse-events-page .event-info{
        display: flex;
        flex-direction: column;
        width: calc(100% - 100px);
        height: 100%;
    }
    #browse-events-page .top-event-page{
        height: 75px;
        width: 75px;
    }
    #browse-events-page .event-meta{
        display: flex;
        justify-content: space-between;
    }
   


    @media (min-width: 769px) {

        .events-container{
            width: 80% !important;
            margin-top: 50px;
            flex-direction: row !important;
            flex-wrap: wrap;
        }
        .top-event-body{
            max-width: 400px;
        }

    }