*{
    margin: 0;
    padding: 0;
}
#landing-page{
    width: 100vw !important;
    position: relative;
    overflow-x: hidden;
}
#landing-page::-webkit-scrollbar{
    display: none;
}
#landing-page nav{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}
nav .logo{
    margin-left: 100px;
}
.nav-links{
    width: 600px;
    height: 100%;
    display: flex;
    margin-left: auto;
}
.nav-links a{
    height: 100%;
    width: 20%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;
    
}
.nav-links .landing-menu-button{
    display: none;
}
.nav-links a:hover{
    transition: all 0.2s;
    border-bottom: 1px solid white;
}
.get-started-btn-container{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 767px){

    .get-started-button{
        width: 150px !important;
        height: 40px !important;
        background-color: #FF6F61 !important;
        color: white;
        border: 1px solid white !important;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 5px;
        margin-right: 25px;
    }
    .get-started-button:hover{
        background-color: #ffffff !important;
        border: 1px solid #FF6F61 !important;
        color: #FF6F61;
        transition: all 0.2s;
    }
}



/* home section */

#home{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#home .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#home .right img{
    height: 50%;

}
#home .left{
    width: 50%;
    height: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    width: 90%;
    display: flex;
    flex-direction: column;
    color: white;
}
.hero-text h1{
    font-size: 4rem;
    font-weight: bold;
}
.hero-buttons{
    width: 50%;
    height: 75px;
    display: flex;
    align-items: center;
}

.hero-buttons a{
    width: 150px;
    height: 40px;
    background-color: #FF6F61;
    color: white;
    border: 1px solid white;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;

}
.hero-buttons a:hover{
    background-color: #ffffff;
    border: 1px solid #FF6F61;
    color: #FF6F61;
    transition: all 0.2s;
}


/* about section */

#about{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.section-title{
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.about-us{
    width: 75%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.527);
    display: flex;
    border-radius: 15px;
}
.about-us img{
    height: 100%;
    width: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}
.about-text{
    box-sizing: border-box;
    padding: 20px;
}


/* features section */

#features{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.features-container{
    width: 75%;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.527);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.features-container .features{
   width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    border-radius: 10px;
}
.features-title{
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.feature-body{
    width: 22%;
    height: 225px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.feature-body .icon{
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-left: 15px;
}


/* pricing  */


#pricing{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}
.pricing-container{
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.527);
}
.pricing-table{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}
.tier-body{
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(211, 211, 211, 0.301);
    border-radius: 10px;
    background-color: white !important;
}
.tier-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px;
    gap: 10px;
}
.tier-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.tier-price{
    margin-left: 10px;
}
.tier-features{
    display: flex;
    flex-direction: column;
}
.tier-feature{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 25px;
}
.tier-body a{
    margin-top: auto;
    color: white;
    background-color: black;
    border: 1px solid white;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 25px;
    text-decoration: none;
}
.feature-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.pricing-container .section-title{
    margin-bottom: 25px;
}


/* support section */


#support{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#qa{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.frequent-questions-container{
    width: 75%;
    height: 75%;
    padding: 20px;
    border-radius: 10px;
    
}
/* frequentQuestions.js component styling */
.frequent-questions{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.question-body{
    width: 90%;
    height: 50px;
    transition: all 0.2s;
    overflow: hidden;
    background-color: #FF6F61;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    user-select: none;
}
.question-header{
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
}
.question-header h3{
    padding: 0;
    margin: 0;
}
.question-content{
    box-sizing: border-box;
    padding: 0px 20px 10px 20px;
}
.expand-question{
    height: 150px;
    transition: all 0.2s;
}


/* contact section */
#contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 50%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    padding: 15px;
}
.left,
.right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contact-info{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    
}
.contacts{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-info .socials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: 50px;
}
.contact-info .socials img{
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    padding: 5px;
    transition: all 0.2s;
}
.contact-info .socials img:hover{
    background-color: rgba(211, 211, 211, 0.377);
    border-radius: 10px;
    transition: all 0.2s;
}
.contact-form{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #FF6F61;
}
.contact-form input,
.contact-form textarea{
    width: 80%;
    height: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    color: white;
    box-sizing: border-box;
    padding-left: 15px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color: white;
}
.contact-form textarea{
    height: 150px;
    padding-top: 15px;
}
.contact-form button{
    width: 80%;
    height: 50px;
    border: 1px solid rgb(75, 74, 74);
    color: rgb(75, 74, 74);
    
    font-weight: bold;
    transition: all 0.2s;
}
.contact-form button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: all 0.2s;
}




#go-to-top-btn{
    width: 50px;
    height: 50px;
    position: fixed;
    right: -70px;
    bottom: 50px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(211, 211, 211, 0.247);
    transition: all 0.2s;
}
#go-to-top-btn img{
    width: 90%;
    height: 90%;
}
#go-to-top-btn:hover{
    border: 1px solid white;
    background-color: rgba(211, 211, 211, 0.671);
    transition: all 0.2s;
}
.show{
    right: 50px !important;
    transition: all 0.2s;
}





@media only screen and (max-width: 767px) {
    #landing-page .logo{
        display: none;
    }
    #landing-page nav .nav-links{
        box-sizing: border-box;
        padding-top: 50px;
        width: 100vw;
        height: 0px;
        transition: all 0.2s;
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        flex-direction: column;
        align-items: center;
        
        z-index: 9;
    }
    #landing-page nav .logo{
        color: black;
    }
    #landing-page nav .nav-links a{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FF6F61;
        font-size: 1.2rem;
        font-weight: 600;
    }
    #landing-page nav .nav-links .landing-menu-button{
        display: flex;
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 10;
        background-color: transparent;
        border: none;
        filter: invert(1);
    }
    #landing-page nav .show-mobile-nav{
        height: 700px;
        transition: all 0.2s;
        background-color: white;
    }
    #landing-page nav .nav-links .get-started-btn-container{
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #landing-page nav .nav-links .get-started-btn-container .get-started-button{
        width: 75%;
        height: 80%;
        margin: 0;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #FF6F61;
    }
    #landing-page #home{
        flex-direction: column;
    }
    
    #landing-page #home .left{
        width: 100vw;
        margin-top: 50px;
    }
    #landing-page #home .left h1{
        font-size: 3rem;
        margin-bottom: 50px;
    }
    #landing-page #home .hero-buttons{
        width: 100%;
        margin-top: 30px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    #landing-page #home .hero-buttons a{
        width: 75%;
        height: 50px;
    }
    #landing-page .feature-body{
        width: 90%;
    }
    #landing-page #home .right{
        width: 100vw;
        height: auto;
        margin: 50px 0;
    }
    #landing-page #home .right img{
        width: 40%;
        height: auto;
    }
    #about{
        min-height: 100vh;
        height: auto;
    }
    .about-us{
        flex-direction: column;
        gap: 0;
        height: auto;
    }
    .about-us img{
        border-radius: 5px;
        display: none;
    }
    .about-us .about-text{
        height: auto;
        gap: 15px;
        display: flex;
        flex-direction: column;
    }


    #features{
        min-height: 100vh;
        height: auto;
    }
    #landing-page .features-container{
        height: auto;
    }
    #landing-page .features-container .features{
        height: auto;
        gap: 12px;
    }
    #landing-page .features-container .features .feature-body{
        border: 1px solid rgba(211, 211, 211, 0.589);
        width: 100%;
    }
    #pricing{
        min-height: 100vh;
        height: auto;
    }
    .pricing-container{
        width: 100%;
    }
    .pricing-table{
        flex-direction: column;
        width: 95%;
        align-items: center;
        gap: 15px;
    }
    .pricing-table .tier-body{
        width: 80%;
    }
    #support .section-title{
        text-align: center;
        height: auto;
    }
    .frequent-questions-container{
        width: 100%;
    }
    .frequent-questions-container .question-body .question-header h3{
        font-size: 1.1rem;
    }
    #contact .contact-container{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #contact .contact-container .left,
    #contact .contact-container .right{
        width: 90%;
    }
    .contact-info .socials{
        margin-top: 25px;
    }
    .contact-info .contacts{
        margin-top: 20px;
    }



}